<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
<title>消息中心</title>
</head>
<body>
#foreach($message in $messageList)
<table class="table">

       <caption><font size="7">${velocityCount}</font></caption>
       
       <tbody>
       
         <tr class="success">
          <td> <font size="7">发件人</font></td>
           <td><font size="7">系统消息</font></td>    
           </tr>
           
            <tr class="warning">
            <td><font size=7">发件时间</font></td>
           <td><font size="7">$!date.format('yyyy-MM-dd HH:mm:ss ',$!{message.createdDate})</font></td></tr>
           
            <tr class="danger">
            <td><font size="7">发件内容</font></td>
           <td><font size="7">$!{message.content}</font></td></tr>
   
       </tbody>
     </table>
#end
</body>
</html>