
<script type="text/javascript" src="http://v.burod.cn/scripts/main/jquery.js"></script>
<!-- <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js">-->
<script type="text/javascript" src="http://v.burod.cn/scripts/main/base/base.js"></script>
<script type="text/javascript" src="http://v.burod.cn/scripts/main/base/util.js"></script>
<script type="text/javascript" src="http://v.burod.cn/scripts/main/base/event.js"></script>
<script type="text/javascript" src="http://v.burod.cn/scripts/main/util/action.js"></script>
<script type="text/javascript" src="http://v.burod.cn/scripts/main/util/business.js"></script>
<script type="text/javascript" src="http://v.burod.cn/scripts/main/component/component.js"></script>
<script type="text/javascript" src="http://v.burod.cn/scripts/main/component/popup.js"></script>
<script type="text/javascript" src="http://v.burod.cn/scripts/main/component/popupAdd.js"></script>
<script type="text/javascript" src="http://v.burod.cn/scripts/main/component/popupMsg.js"></script>
<script type="text/javascript" src="http://v.burod.cn/scripts/main/component/popupAddPicReply.js"></script>
<script type="text/javascript" src="http://v.burod.cn/scripts/main/site/home.js"></script>