#parse("header.html")
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../styles/index.css">
<link rel="stylesheet" href="../styles/detail.css">

    <div class="zg-wrap zu-main clearfix " role="main">
        <div class="zu-main-content">
            <div class="zu-main-content-inner">
                <div class="zu-main-feed-con navigable" data-feedtype="topstory" id="zh-question-list" data-widget="navigable" data-navigable-options="{&quot;items&quot;:&quot;&gt; .zh-general-list .feed-content&quot;,&quot;offsetTop&quot;:-82}">
                    <a href="javascript:;" class="zu-main-feed-fresh-button" id="zh-main-feed-fresh-button" style="display:none"></a>
                    <div id="js-home-feed-list" class="zh-general-list topstory clearfix" data-init="{&quot;params&quot;: {}, &quot;nodename&quot;: &quot;TopStory2FeedList&quot;}" data-delayed="true" data-za-module="TopStoryFeedList">
					#if($adminUser && ${adminUser.username}=="admin")
					<!-- 上传图片地址 -->
					#set($path="/uploadImages/")  #set($qrcode="qrcode") #set($zfb="zfb") #set($split="/")
					#set($wx="wx")
					#set($qrcodepath="$path$settingUser.userId$split$qrcode")
					#set($zfbpath="$path$settingUser.userId$split$zfb")
					#set($wxpath="$path$settingUser.userId$split$wx")
					
					
					<form action="/userSetting" method="post">
					<input name="id" value=$settingUser.id type="hidden">
						<table class="table" style="word-break:break-all; word-wrap:break-all;">
					  <span class="glyphicon glyphicon-asterisk"><span class="label label-danger">用户基本信息</span>
					  <thead>
					    <tr>
					      <th>名称</th>
					      <th>值</th>
					    </tr>
					  </thead>
					  <tbody>
						<tr>
					      <td>用户名</td>
					      <td><input type="text" name="username" value =$!{settingUser.username}></td>
					    </tr>
					     <tr>
					      <td>公众号id</td>
					      <td><input type="text" name="wechatId" value =$!{settingUser.userId}></td>
					    </tr>
					    <tr>
					      <td>账户信息(0代表正常，1代表停用,2为超级用户)</td>
					      <td>#if($!{user.status}==0)
					      		<input type="text" name="status" value =$!{settingUser.status}>
					      	   #else
					      	    <input type="text" name="status" value =$!{settingUser.status}>
					      	   #end
					      </td>
					    </tr>
					     <tr>
					      <td>中文名</td>
					      <td> <input type="text" name="chineseName" value =$!{settingUser.chineseName}></td>
					    </tr>
					    <tr>
					      <td>备注一</td>
					      <td><input type="text" name="noteOne" value =$!{settingUser.noteOne}></td>
					    </tr>
					   
					    <tr>
					      <td>头像</td>
					        <td><input type="text" name="headUrl" value =$!{settingUser.headUrl}></td>
					       <!--  <td><input type="text" name="headUrl" value =$!{settingUser.headUrl}></td>-->
					    </tr>
					  </tbody>
					</table>   
					
					 
					<input class="btn btn-primary" type="submit" value="提交"/>                        
					</form>
					
					
					<table class="table" style="word-break:break-all; word-wrap:break-all;">
					<span class="glyphicon glyphicon-asterisk"><span class="label label-danger">用户基本信息</span>
					  <thead>
					    <tr>
					      <th>名称</th>
					      <th>图片</th>
					       <th>修改</th>
					    </tr>
					  </thead>
					  <tbody>
						<tr>
						<td>二维码图像</td>
						<td><img src=$qrcodepath width=20%></td>
						<td>
						<form action="/upload/image" method="post" enctype="multipart/form-data">  
						<input type="hidden" name="userId" value=$settingUser.userId>
						<input type="hidden" name="fileName" value="qrcode">
						<input type="hidden" name="id" value=$settingUser.id>
						<input type="file" name="file" /> <input type="submit" value="Submit" />
						</form>  
						</td>
						</tr>
						<!--  <tr>
						<td>二维码图像</td>
						<td><img src=$settingUser.headUrl width=20%></td>
						<td>
						因为暂时用的外部链接，没有开放上传功能
						</td>
						</tr>-->
						<tr>
						<td>微信打赏图像</td>
						<td><img src=$wxpath width=20%></td>
						<td>
						<form action="/upload/image" method="post" enctype="multipart/form-data">  
						<input type="hidden" name="userId" value=$settingUser.userId>
						<input type="hidden" name="fileName" value="wx">
						<input type="hidden" name="id" value=$settingUser.id>
						<input type="file" name="file" /> <input type="submit" value="Submit" />
						</form>  
						</td>
						</tr>
						<tr>
						<td>支付宝打赏图像</td>
						<td><img src=$zfbpath width=20%></td>
						<td>
						<form action="/upload/image" method="post" enctype="multipart/form-data">  
						<input type="hidden" name="userId" value=$settingUser.userId>
						<input type="hidden" name="fileName" value="zfb">
						<input type="hidden" name="id" value=$settingUser.id>
						<input type="file" name="file" /> <input type="submit" value="Submit" />
						</form>  
						</td>
						</tr>
					</tbody>
					</table> 
					#end
					
                       <table class="table">
                          <span class="glyphicon glyphicon-asterisk"><span class="label label-danger">文字关键词</span>
                          <thead>
                            <tr>
                              <th>序号</th>
                              <th>关键词</th>
                              <th>回复</th>
                              <th><button class="zu-top-add-question" id="zu-top-add-question">添加</button></th>
                              </tr>
                          </thead>
                          <tbody>
                          
                          #foreach($definedReply in $definedReplyList)
                          	#if(!$definedReply.picUrl)
                          	#if($definedReply.replyKey=="新关注的回复"||$definedReply.replyKey=="搜索不到的回复")
	                          	<tr class="danger">
	                            <form action="/definedReply/update" method="post">
	                              <input type="hidden" name="definedReplyId" value=${definedReply.id}> 
	                              <input type="hidden" name="userId" value=$!{settingUser.id}> 
	                              <td>$!{velocityCount}</td>
	                              <td>$!{definedReply.replyKey}</td>
	                              <td><textarea style="width: 90%; height: 50px; margin-top:5px;"name="replyValue"  >$!{definedReply.value}</textarea></td>
	                              <td><input type="submit" value="修改"></td></tr>
	                             </form>
                          	#else
	                            <tr class="success">
	                            <form action="/definedReply/delete" method="post">
	                              <input type="hidden" name="definedReplyId" value=$definedReply.id> 
	                              <input type="hidden" name="userId" value=$!{settingUser.id}> 
	                              <td>$!{velocityCount}</td>
	                              <td>$!{definedReply.replyKey}</td>
	                              <td>$!{definedReply.value}</td>
	                              <td><input type="submit" class="btn btn-primary" value="删除"></td></tr>
	                           </form>
                           #end
                           #end
                          #end
               
                          </tbody>
                        </table style="word-break:break-all; word-wrap:break-all;">
                        #if($ad)
                         <table class="table">
                         <span class="glyphicon glyphicon-asterisk"></span></span><span class="label label-danger">广告(为了不过多影响粉丝用户的体验，目前只开放一条广告位)</span>
                          <thead>
                            <tr>
                              <th>名称</th>
                              <th>值</th>
                              </tr>
                          </thead>
                          <tbody>
                          	
                            <form action="/definedReply/updateAd" method="post">
                              
                              <input type="hidden" name="adId" value=$!{ad.id}> 
                              <input type="hidden" name="userId" value=$!{settingUser.id}> 
                              <tr class="success"><th>封面标题</th>
                              <td><textarea style="width: 90%; height: 50px; margin-top:5px;" name="adValue" >$!{ad.value}</textarea></td></tr>
                               <tr class="success"><th>图片链接</th>
                              <td><textarea style="width: 90%; height: 50px; margin-top:5px;" name="adPicUrl" >$!{ad.picUrl}</textarea></td></tr>
                               <tr class="success"><th>跳转链接</th>
                              <td><textarea style="width: 90%; height: 50px; margin-top:5px;" name="adUrl" >$!{ad.url}</textarea></td></tr>
                              <td><input type="submit" class="btn btn-primary" class="btn btn-primary" value="修改"></td></tr>
                             </form>
                          </tbody>
                        </table>
                        #end
                        
                         <table class="table" style="word-break:break-all; word-wrap:break-all;">
                          <span class="glyphicon glyphicon-asterisk"><span class="label label-danger">图文链接关键词</span>
                          <thead>
                            <tr>
                              <th>关键词</th>
                              <th>封面标题</th>
                              <th>封面图片地址</th>
                              <th>跳转链接</th>
                              <th><button class="zu-top-add-question" id="zu-top-add-picReply">添加</button></th>
                              </tr>
                          </thead>
                          <tbody>
                          
                          #foreach($definedReply in $definedReplyList)
                          #if($definedReply.picUrl)
                            <tr class="success">
                            <form action="/definedReply/delete" method="post">
                              <input type="hidden" name="definedReplyId" value=$definedReply.id> 
                              <input type="hidden" name="userId" value=$!{settingUser.id}> 
                              <td>$!{definedReply.replyKey}</td>
                              <td>$!{definedReply.value}</td>
                              <td>$!{definedReply.picUrl}</td>
                              <td>$!{definedReply.url}</td>
                              <td><input type="submit" class="btn btn-primary" value="删除"></td></tr>
                           </form>
                           #end
                          #end
               
                          </tbody>
                        </table>
                    </div>
                    
            </div>
        </div>
    </div>
#parse("js.html")
<script type="text/javascript" src="/scripts/main/site/detail.js"></script>

#parse("footer.html")