<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>
img {
    max-width: 100%;
    height: auto;
}
div.polaroid {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 10px;
}
</style>
<title>关注</title>
</head>
<body>
#set($path="/uploadImages/")  #set($qrcode="qrcode") #set($zfb="zfb") #set($split="/")
#set($wx="wx")
#set($qrcodepath="$path$owner.userId$split$qrcode")
#set($zfbpath="$path$owner.userId$split$zfb")
#set($wxpath="$path$owner.userId$split$wx")
<div class="polaroid">
  <img src=$qrcodepath alt="Norway" style="width:100%">
  <div class="container">
    <p><font size="5">长按关注公众号，免费看全网影视</font></p>
  </div>
</div>
<!-- <img src=$!{owner.headUrl} alt="Norway" width="1000" height="300"/> -->
</body>
</html>