<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>马小呆公众号服务</title>
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../styles/index.css">
<link rel="stylesheet" href="../styles/detail.css">
</head>
<body>
#parse("header.html")

<table class="table" style="word-break:break-all; word-wrap:break-all;">
                          <span class="glyphicon glyphicon-asterisk"><span class="label label-danger">查询结果</span>
                          <thead>
                            <tr>
                              <th>openId</th>
                              <th>用户名</th>
                              <th>所属公众号</th>
                              <th>过期时间</th>
                              <th>推荐人数</th>
                              <th></th>
                              </tr>
                          </thead>
                          <tbody>
                          
                          #if($wechatUser)
                            <tr class="success">
                            <form action="/wechatUser/delete" method="post">
                            	<input type="hidden" name="userName" value=$!{wechatUser.userName}>
                              <td>$!{wechatUser.openId}</td>
                              <td>$!{wechatUser.userName}</td>
                              <td>$!{wechatUser.belongOwnerId}</td>
                              <td>$!date.format('yyyy-MM-dd HH:mm:ss ',$!{wechatUser.expireTime})</td>
                               <td>$!{wechatUser.recommendNum}</td>
                              <td><input type="submit" class="btn btn-primary" value="删除"></td></tr>
                           </form>
                           #else
                           		没有您输入的用户名
                           #end
               
                          </tbody>
                        </table>
</body>
</html>