					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->


			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">马小呆</span>
							Application &copy; 2018-2020
						</span>

						&nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
					</div>
				</div>
			</div>

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='/Ace/dist/js/jquery.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='dist/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='http://v.burod.cn/Ace/dist/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->
		<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
		<<script src="http://v.burod.cn/Ace/dist/js/dataTables/jquery.dataTables.bootstrap.min.js"></script>
		<script src="http://v.burod.cn/Ace/dist/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
		<script src="http://v.burod.cn/Ace/dist/js/dataTables/extensions/ColVis/js/dataTables.colVis.min.js"></script>

		<!-- ace scripts -->
		<script src="http://v.burod.cn/Ace/dist/js/ace-elements.min.js"></script>
		<script src="http://v.burod.cn/Ace/dist/js/ace.min.js"></script> -->

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			
		</script>
<script type="text/javascript">
$(document).ready(function() {
  $(".jq_link").click(function() {
    var id = $(this).attr('rel');
    $("#vipSettingForm>div>input:first-child").val(id)
    //jQuery("#vipSettingForm.modal-body > a").attr("href", "index.php?id=" + id);
    $("#vipSettingForm").modal();
  });
});

function showModel(id) {
	// var id = $(this).attr('rel');
    $("#vipSettingForm>div>input:first-child").val(id)
    //jQuery("#vipSettingForm.modal-body > a").attr("href", "index.php?id=" + id);
    $("#vipSettingForm").modal();
}


</script>


<script type="text/javascript">
	
$(document).ready(function() {
	var url = window.location.href;
                var arrUrl = url.split("/");
                var id = arrUrl[arrUrl.length-2];
                var staticsurl = "/user/"+id+"/fans/statics"
   var table = $('#dynamic-table').DataTable( {
        "ajax": staticsurl,
        "columns": [
            { "data": "userName" },
            { "data": "recommendNum" },

            { "data": "dateString" },
            { "data": "isExpired"},
           { "data": null,defaultContent: '<div class="hidden-sm hidden-xs action-buttons"><a class="blue" href="#" data-toggle="modal" data-target="#vipSettingForm">	<a href="javascript:void(0);" class="jq_link" id="edit" ">增加</a>																</a>																																																															</div>															<div class="hidden-md hidden-lg">																<a class="blue" href="#" data-toggle="modal" data-target="#vipSettingForm">	<a href="javascript:void(0);" class="jq_link" id="edit" ">增加</a>																																																															</div>', orderable: false }

            
         ]
          
    } );

    $('#dynamic-table tbody').on( 'click', 'a#edit', function () {
        var data = table.row( $(this).parents('tr') ).data();
         $("#vipSettingForm>div>input:first-child").val(data.openId)
    //jQuery("#vipSettingForm.modal-body > a").attr("href", "index.php?id=" + id);
    $("#vipSettingForm").modal();
        
    } );
} );
</script>



	</body>
</html>
