<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Basic</title>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="../dist/css/glide.core.css">
		<link rel="stylesheet" href="../dist/css/glide.theme.css">

		<!-- Demo stylesheet -->
		<link rel="stylesheet" href="../styles/demo.css">
	</head>
	<body>
		<div class="module module--horizontal">
			<div id="Carousel" class="glide">



				<div class="glide__wrapper">
					<ul class="glide__track">
						<li class="glide__slide" data-glide-autoplay="2000">
							<div class="box" style="background: url(http://119.23.248.205:8080/pictures/pretty.jpg);"></div>
						</li>
						<li class="glide__slide" data-glide-autoplay="2000">
							<div class="box" style="background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1509723157689&di=42e31bf657f4e44b510cab568189416b&imgtype=0&src=http%3A%2F%2F2.im.guokr.com%2FnvYmojqSUIIunH8ANafPgsfvdijXB8NpOzG-BMXRaM3gAQAAFwEAAEpQ.jpg);"></div>
						</li>
						<li class="glide__slide" data-glide-autoplay="2000">
							<div class="box" style="background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1509723307367&di=2438dee6346488a19f91ce4b4b0a437b&imgtype=0&src=http%3A%2F%2Fpic.90sjimg.com%2Fback_pic%2F00%2F00%2F40%2F82%2F837d979521dea4353859eb4d248a8c9f.jpg);"></div>
						</li>
					</ul>
				</div>

				<div class="glide__bullets"></div>

			</div>
		</div>


		<!-- <script src="../bower_components/jquery/dist/jquery.js"></script> -->
		<script src="../dist/glide.js"></script>
		<script>

			var carousel = $('#Carousel').glide({
				type: 'carousel',
				startAt: 1,
				touchDistance: 2
			});

			var slider = $('#Slider').glide({
				type: 'slider',
				startAt: 2
			});

			var slideshow = $('#Slideshow').glide({
				type: 'slideshow',
				startAt: 3
			});

		</script>

	</body>
</html>