<!--<div class="foornav">-->
	<!--<a href="/v"><span><img src="http://v.woaik.com/images/index.png">首页</span></a>-->
	<!--<a href="/movie.php?m=aHR0cDovL3d3dy4zNjBrYW4uY29tL2RpYW55aW5nL2xpc3QucGhwP2NhdD1hbGwmcGFnZW5vPTE="><span><img src="http://v.woaik.com/images/video.png">电影</span></a>-->
	<!--<a href="/tv.php?u=aHR0cDovL3d3dy4zNjBrYW4uY29tL2RpYW5zaGkvbGlzdC5waHA/Y2F0PWFsbCZwYWdlbm89MQ=="><span><img src="http://v.woaik.com/images//dianshiju.png">电视剧</span></a>-->
	<!--<a href="/zongyi.php?m=aHR0cDovL3d3dy4zNjBrYW4uY29tL3pvbmd5aS9saXN0LnBocD9jYXQ9YWxsJnBhZ2Vubz0x"><span><img src="http://v.woaik.com/images/dianshi.png">综艺</span></a>-->
	<!--<a href="/userInfo"><span><img src="http://v.woaik.com/images/gouwu.png">个人中心</span></a></div>-->
<div class="foornav">
	<a href="/userInfo"><span><img src="http://v.c768.cn/v/images/gouwu.png">个人中心</span></a>
	<a><span></span></a>
	<a href="/poster"><span><img src="http://v.c768.cn/v/images/index.png">获取VIP</span></a>
	<a><span></span></a>
	<a href="#"><span><img src="http://v.c768.cn/v/images/video.png">待开放</span></a>
</div>
<script src="https://s19.cnzz.com/z_stat.php?id=1271306573&web_id=1271306573" language="JavaScript"></script>
</body>
</html>